html,body{
	width:100%;width:100%;background-color:#fff;
}
*{
	box-sizing:border-box;
}
body,div,header,footer,p{margin:0;}
input{
	outline:none;
}
button{
	border:none;outline:none;
}
.icon{
	
}
a{
	text-decoration:none;
}