$white:#fff;
$fontC:#858E91;
$line:'rgba(233,236,241.3)';
$fontSize:'16px';


@mixin borderRadius($radius) {
	   -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}
//flex 布局
@mixin flexJA($flexDire:column,$jc:flex-start,$ai:flex-start){
	display:flex;
	flex-direction:$flexDire;
	justify-content:$jc;
	align-items:$ai;
}
//字体和颜色
@mixin fac($font,$color){
	font-size:$font;
	color:$color;
}

//线条
@mixin line($w,$h,$c,$transform){
    width:$w;
    height:$h;
    border-top:1px solid $c;
    transform:$transform;	
}